.background-color-nav {
    background-color: black;
}

#logo {
    margin-right: 35px;
}

nav {
    text-align: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}

.nav-link {
    margin-right: 1.0rem;
    margin-left: 1.0rem;
    font-size: 1.4rem;
    text-transform: uppercase;
}

#title1 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0px;
}

#title2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 25px;
}

#title3 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 25px;
}

#banner {
    margin-top: 20px;
}

figcaption {
    text-align: center;
}

p {
    text-align: justify;
}

#text-text {
    font-size: 1.2rem;
    text-align: justify;
    margin: auto;
}

#text-text-2 {
    font-size: 1.2rem;
    text-align: justify;
    margin: auto;
    margin-bottom: 40px;
}

.col-lg {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.col-lg p {
    font-size: 1.2rem;
    text-align: justify;
    margin: auto;
}

.col-lg {
    margin-bottom: 20px;
}